.scrollable-div {
    overflow: auto;
    /* Allows scrolling */
    scrollbar-width: none;
    /* For Firefox */
}

.scrollable-div::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

#userCard {
    background-image: url("/img/bg5.png");
    background-size: cover;
}

.isActive {
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    opacity: 1;
}