.scrollable-div {
    overflow: auto; /* Allows scrolling */
    scrollbar-width: none; /* For Firefox */
}

.scrollable-div::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}