<li class="relative mt-1" (mouseenter)="sendElementRef()">
    <div class="flex justify-between gap-3 rounded-md cursor-pointer transition-transform 
        ease-in-out hover:transition-all hover:duration-200 hover:text-primary hover:scale-105"
        [class.isActive]="isActive() == matchList[1]" [class.isChildActive]="isActive() == matchList[2]"
        (click)="toggleOrNavigate()">
        <div class="flex gap-3">
            @if (item.icon) {
            <span class="text-lg"><i [class]="item.icon"></i></span>
            }
            @if (!collapsed) {
            <span class="my-auto">{{ item.label }}</span>
            }
        </div>
        @if (item.children && !collapsed) {
        <div class="justify-items-end">
            <i class="fa-solid fa-chevron-up text-base-content" 
                [class.fa-chevron-up]="isExpanded()" 
                [class.fa-chevron-down]="!isExpanded()">
            </i>
        </div>
        }
    </div>
    @if (item.children && isExpanded() && !collapsed) {
    <ul class="ml-4 space-y-1" animate.enter="enter-animation" animate.leave="leave-animation">
        @for (child of item.children; track $index) {
        <app-sidebar-item [item]="child" [collapsed]="collapsed" [level]="level + 1"></app-sidebar-item>
        }
    </ul>
    }
</li>